h1 {
    font-size: 30px; !important
    color: #000;
    font-weight: bold;
    padding:0;
    /* margin: 0 0 0 10px; */
}

.h-logo {
    display: flex;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    h1 {
    text-align:center;
    margin: 15px 0;
    }
}

@media only screen and (max-width: 991px) {
    h1 {
    text-align:center;
    margin: 15px 0;
    }
}

h2 {
    font-size: 35px;
    color:darkblue;
}

h3 {
    font-size: 20px;
    color: darkblue;
}

/* Header */

header p {
    margin:0;
    padding: 0;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    header p {
    text-align:center;
    margin: 15px 0;
    }
}

@media only screen and (max-width: 991px) {
    header p {
    text-align:center;
    margin: 15px 0;
    }
}

/* Button Styles */
.waves-effect {
    background-color: blue;
}

.waves-effect:hover  {
    background-color: yellow;
    color: black;
}

/* Left Side Styles */
.left-side {
    
}

.search-form {
    padding: 15px 0 25px 0;
    /* border-bottom: 0.1rem solid gold; */
}

.left-side h3 {
    font-size: 20px;
    color:darkblue;
}

.left-side #input-search {
    width: 75%;
    border-bottom: 1px solid darkblue;

}

.left-side #input-search:focus  {
    border-bottom: 1px solid darkblue;

}

.left-side button {
    margin-top:10px;
}

.search-history {
    padding: 15px 0 25px 0;
    /* border-bottom: 0.1rem solid gold; */
}

input[type="text"]::placeholder {
    text-align: center;
}

.search-form {
    margin: 0 0 10px 0;
}

.search-history {
    margin: 20px 0;
}

.events-fav {
    padding: 15px 0 25px 0;
}

@media only screen and (max-width: 600px) {
    .events-fav {
    margin-bottom: 20px;
    }
}

.event-favorites {
    margin: 10px 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.event-favorites ul {
    margin: 10px 0 0 0;
    width: 85%;
}

.event-favorites li {
    margin: 10px 2px;
    border: 1px solid darkblue;
} 

.event-favorites li:hover {
background-color:yellow;
} 

.event-favorites li a:hover {
    color: darkblue;
} 

/* Right Side Styles */
.right-side {
   text-align: center;
} 

.right-side h3 {
    font-size: 20px;
    color: darkblue;
    padding-bottom: 10px;
}

.right-side p {
    font-size: 16px;
    padding-bottom: 10px;
}

.right-side ul {
    margin:0 10px;
}

/* .right-side img {
    max-width: 50%;
}

@media only screen and (max-width: 600px) {
    .right-side img {
    max-width: 60%;
    }
} */

#events {
    display: flex;
    justify-content: center;
}

#events li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-bottom: 0.2rem solid darkblue;
}

#events img {
    max-width: 50%;
}

@media only screen and (max-width: 600px) {
    #events img {
    max-width: 60%;
    }
}

.event-item {
    margin: 20px 0;
}

.right-side .buy-button {
    margin: 25px 0 10px 5px;
}

.right-side .fav-btn {
    margin: 10px 0 10px 5px;
}

/* Footer */
footer {
    padding: 15px 0;
}


/*  fontSize: */
.xs   {font-size: 0.75rem}
.sm   {font-size: 0.875rem}
.base {font-size: 1rem}
.lg   {font-size: 1.125rem}
.xl   {font-size: 1.25rem}
.2xl  {font-size: 1.5rem}
.3xl  {font-size: 1.875rem}
.4xl  {font-size: 2.25rem}
.5xl  {font-size: 3rem}
.6xl  {font-size: 4rem}
.fs1  {font-size: 1vw}
.fs2  {font-size: 1.4vw}
.fs3  {font-size: 1.6vw}
.fs4  {font-size: 1.8vw}
.fs5  {font-size: 2vw}
.fs6  {font-size: 2.2vw}
.fs7  {font-size: 2.4vw}
.fs8  {font-size: 2.6vw}